<div class="form">
    <form method="POST" action="/register">
        <input type="email" name="email" placeholder="Enter email">
        <input type="password" name="password" placeholder="Enter password">
        <input type="password" name="passwordSubmit" placeholder="Retype password">
        <input type="submit" value="Register">
    </form>
</div>